.pageWrapper {
  padding-block: 2rem;
}

.prefixSuffix {
  padding-inline: 4px;
  color: var(--text-color-muted);
}

.buttonGroup {
  margin-top: 1rem;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBar {
  margin-bottom: 1.5rem;
}
