/* RadioGroupPage.module.css */
.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.buttonWrapper {
  display: flex;
  gap: 12px;
  margin-top: 1rem;
}

.button {
  border-radius: 12px;
  padding: 14px;
  font-size: 1rem;
  font-weight: 600;
}

.inputMessage {
  color: red;
}

.pageTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.utilitySpacing {
  margin-bottom: 1.5rem;
}
